body {
	background-image: url('../../../assets/images/rgu-siwb-plaza.jpg');
	background-size: cover;
	overflow: hidden;
	height: 100vh;
}

.accTabs {
	background-color: #F2F2F2;
	margin: 0 auto;
	width: 40%;
	margin-top: 10%;
}

.accform {
	margin: 0 auto;
	width: 70%;
	text-align: center;

	.formField {
		width: 80%;
		text-align: center;
		font-size: 1.3em;
		box-shadow: 0.2px 0.1px 5px #cccccc;
		border-radius: 3px 7px;
	}

	input {
		width: 30%;
	}

	button:focus,
	input:focus,
	select:focus,
	textarea:focus {
		outline: none;
	}
}
/* Styles for tab labels */

.mat-tab-label {
	// min-width: 25px !important;
	// padding: 5px;
	background-color: #660066;
	color: #ccc;
	// font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
	background-color: #660066;
	font-weight: 700;
	color: white;
}
/* Styles for the ink bar */
.mat-ink-bar {
	background-color: White !important;
}
