ul {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #660066;
	text-align: right;

	li {
		display: inline-block;
		// padding-right: 50px;
		margin: 15px 20px;

		a {
			color: white;
			text-align: center;
			padding: 10px 20px;
			text-decoration: none;
			font-size: 1.2em;
			user-select: none;

			&:hover {
				box-shadow: 1px 3px 3px #330033;
				border-radius: 12px;
				background: #800080;
				// transition: all .15s ease-in-out;
			}

			&:active {
				background: #4d004d;
				color: #b3b3b3;
				border-radius: 12px;
				box-shadow: 3px 3px 18px #330033 inset;
				transition: all .15s ease-in-out;
			}
		}
	}
}

.active {
	background: #4d004d;
	color: #b3b3b3;
	border-radius: 12px;
	box-shadow: 3px 3px 18px #330033 inset;
	transition: all .15s ease-in-out;
}
