/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100vh;
	background: #F2F2F2;
	margin: 0;
	padding-top: 50px;
}
